.stats {
  background: linear-gradient(
    135deg,
    #0077ff,
    #00e5c0
  );

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 30px;

  padding: 100px 8%;

  text-align: center;
}

.stat-box {
  background: rgba(255,255,255,0.12);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.2);

  border-radius: 25px;

  padding: 40px 20px;

  color: white;

  transition: 0.4s ease;
}

.stat-box:hover {
  transform: translateY(-10px);
}

.stat-box h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.stat-box p {
  font-size: 1rem;
  opacity: 0.95;
}